<h3>Order Panel</h3>
<link rel="stylesheet" type="text/css" href="../public/table.css">
<div class="list">
<div class="invoice-table">
  <table style="width:100%">
 		   	 <tr>
    			<th></th>
    			<th>STATUS</th>
          <th>ACTION</th>
  			</tr>
        {{#each list}}
  			<tr>
    			<td>
    				<div class="left"> <p>{{@index}}</p></div>
    				<div class = "right">
    					<p id="item">ORDER</p>
    					<p><a href="http://localhost:3000/orderInfo?order_id={{this.id}}"> {{@index}}</a></p>
    				</div>
    			</td>
   				<td>{{this.status}}</td>
          <td><a href="#">Update Status</a></td>
  			</tr>
        {{/each}}
</table>
</div>
</div>
